<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Project</title>

    <link href="webjars/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body {
            padding-top: 50px;
            font-family: Raleway, serif;
        }
    </style>

</head>
<body>

    <div class="w-50 text-center container shadow-sm p-3 mb-5 rounded" style="background-color: #f2f2f2;">

        <h1 class="font-weight-bold mb-4">Restaurant</h1>

        <form class="w-75 mx-auto" action="restaurant" id="loginRestaurant" method="POST">
            <div class="form-group">
                <label for="name">Name</label>
                #springFormInput("company.name" "class='form-control' id='name'")
            </div>

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-outline-secondary">Log in</button>
            </div>
        </form>

        #if($error)
            <div class="w-75 alert alert-danger mx-auto" role="alert" style="margin: 2%;">
                $error
            </div>
        #end
    </div>

</body>
</html>