<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Project</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <style>
        body {
            padding-top: 50px;
            font-family: Raleway, serif;
        }

        table{
            text-align: center;
        }
    </style>

    <script>
        function callDeleteRequest(orderItemId) {
            console.log("called DeleteRequest with id : "+orderItemId);
            var xhr = new XMLHttpRequest();
            xhr.open("DELETE", "../orderitem/"+orderItemId, true);
            xhr.onreadystatechange= function () {
                if (xhr.readyState===xhr.DONE && xhr.status===200) {
                    const orderItemRow = document.getElementById(orderItemId);
                    orderItemRow.style.display = "none";
                }
            };
            xhr.send();
        }

        console.debug($products);
    </script>


</head>

<body>

<div class="container">

    <div class="jumbotron">
        <h1>Table management</h1>
        <h3>Table #$table.number</h3>
        <div>$order</div>
        <div>$table</div>
        <div>$products</div>
    </div>

    <div class="row">
            <div class="col-sm-12">
                <div>
                    #if($error)
                        <div class="w-75 alert alert-warning mx-auto" role="alert" style="margin: 2%;">
                            $error
                        </div>
                    #else
                    <h5 class="card-header"><i class="fas fa-utensils"></i> Order #$order.id</h5>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col" class="col-3">Product</th>
                                    <th scope="col" class="col-1">Amount</th>
                                    <th scope="col" class="col-1">Price</th>
                                    <th scope="col" class="col-2">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                #foreach($item in $order.orderItems)
                                <tr id="$item.id">
                                    <td>$item.product.name</td>
                                    <td>$item.amount</td>
                                    <td>$item.totalPrice $</td>
                                    <td>
                                        <button onclick="callDeleteRequest($item.id)" class="btn btn-outline-danger">
                                           Delete
                                        </button>
                                    </td>
                                </tr>
                                #end
                                <tr>
                                    <form action="../order/$order.id/orderitem" id="itemForm" method="POST">
                                        <td>#springFormSingleSelect("orderItem.product" $products "id='product'")</td>
                                        <td>#springFormInput("orderItem.amount" "type='number' class='form-control w-50 mx-auto' id='amount'")</td>
                                        <td>&nbsp;</td>
                                        <td><button type="submit" class="btn btn-outline-success">Add</button></td>
                                    </form>
                                </tr>
                            </tbody>
                        </table>

                        <form action="../order/$order.id/inactive" method="GET">
                            <div class="w-75 mx-auto d-flex justify-content-center">
                                <button class="btn btn-outline-warning" type="submit">
                                    Close this order and free the table
                                </button>
                            </div>
                        </form>
                    #end
                </div>
            </div>
    </div>
</div>


</body>
</html>